@import url(font-awesome.min.css);
/* Basics */
/* line 7, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
body {
  background-color: #fff; }

/* line 11, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
body, input, select, textarea {
  color: #444;
  font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: normal;
  line-height: 1.65em; }

/* line 19, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
a {
  color: #1589CE;
  text-decoration: underline; }
  /* line 23, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  a:hover {
    text-decoration: none; }

/* line 28, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
strong, b {
  color: #666;
  font-weight: bold; }

/* line 33, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
em, i {
  font-style: italic; }

/* line 37, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
p {
  margin: 0 0 2em 0;
  line-height: 2em; }

/* line 42, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1em;
  margin: 0 0 0.7em 0; }
  /* line 47, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none; }

/* line 53, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
h1 {
  font-size: 2.25em;
  line-height: 1em; }

/* line 58, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
h2 {
  font-size: 1.75em;
  line-height: 1.5em; }

/* line 63, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
h3 {
  font-size: 1.55em;
  line-height: 1.5em; }

/* line 68, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
h4 {
  font-size: 1.1em;
  line-height: 1.5em; }

/* line 73, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
h5 {
  font-size: 0.9em;
  line-height: 1.5em; }

/* line 78, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
h6 {
  font-size: 0.7em;
  line-height: 1.5em; }

/* line 83, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em; }

/* line 89, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em; }

/* line 95, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
hr {
  border: 0;
  border-bottom: solid 1px rgba(144, 144, 144, 0.25);
  margin: 2em 0; }
  /* line 102, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  hr.major {
    margin: 3em 0; }

/* line 107, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
blockquote {
  border-left: solid 4px rgba(144, 144, 144, 0.25);
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 2em; }

/* line 114, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
code {
  background: rgba(144, 144, 144, 0.075);
  border-radius: 4px;
  border: solid 1px rgba(144, 144, 144, 0.25);
  font-family: 'Courier New', monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em; }

/* line 124, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
pre {
  -webkit-overflow-scrolling: touch;
  font-family: 'Courier New', monospace;
  font-size: 0.9em;
  margin: 0 0 2em 0; }
  /* line 130, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  pre code {
    display: block;
    line-height: 1.75em;
    padding: 1em 1.5em;
    overflow-x: auto; }

/* line 138, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
.align-left {
  text-align: left; }

/* line 142, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
.align-center {
  text-align: center; }

/* line 146, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
.align-right {
  text-align: right; }

/* Section/Article */
/* line 153, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
section.special, article.special {
  text-align: center; }

/* line 159, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
header p, .author-meta p {
  color: #bbb;
  position: relative;
  margin: 0 0 1.5em 0; }
/* line 165, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
header h1 + p, .author-meta h1 + p {
  font-size: 1em;
  margin-top: -0.5em;
  line-height: 1.5em; }
/* line 171, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
header h2 + p, .author-meta h2 + p {
  font-size: 1.25em;
  margin-top: -0.5em;
  line-height: 1.5em; }
/* line 177, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
header h3 + p, .author-meta h3 + p {
  font-size: 0.9em;
  margin-top: -0.5em;
  line-height: 1.5em; }
/* line 185, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
header h4 + p, .author-meta h4 + p, header h5 + p, .author-meta h5 + p, header h6 + p, .author-meta h6 + p {
  font-size: 0.9em;
  margin-top: -0.6em;
  line-height: 1.5em; }
/* line 191, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
header.section-header, .section-header.author-meta {
  text-align: left; }
  /* line 193, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  header.section-header h1, .section-header.author-meta h1, header.section-header h2, .section-header.author-meta h2, header.section-header h3, .section-header.author-meta h3, header.section-header h4, .section-header.author-meta h4, header.section-header h5, .section-header.author-meta h5, header.section-header h6, .section-header.author-meta h6 {
    margin: 0;
    font-weight: 700; }

/* Form */
/* line 205, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
form {
  margin: 0 0 2em 0; }

/* line 209, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
label {
  color: #666;
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  margin: 0 0 1em 0; }

/* line 221, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
input[type="text"], input[type="password"], input[type="email"], select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: #fff;
  border-radius: 4px;
  border: none;
  border: solid 1px rgba(144, 144, 144, 0.25);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%; }
  /* line 234, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  input[type="text"]:invalid, input[type="password"]:invalid, input[type="email"]:invalid, select:invalid, textarea:invalid {
    box-shadow: none; }

/* line 239, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
.select-wrapper {
  text-decoration: none;
  display: block;
  position: relative; }
  /* line 24, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/mixins */
  .select-wrapper:before {
    content: '\f078';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important; }
  /* line 244, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  .select-wrapper:before {
    color: rgba(144, 144, 144, 0.25);
    display: block;
    height: 2.75em;
    line-height: 2.75em;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 2.75em; }
  /* line 257, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  .select-wrapper select::-ms-expand {
    display: none; }

/* line 265, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
input[type="text"], input[type="password"], input[type="email"], select {
  height: 2.75em; }

/* line 269, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
textarea {
  padding: 0.75em 1em; }

/* line 274, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
input[type="checkbox"], input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2em;
  opacity: 0;
  width: 1em;
  z-index: -1; }
  /* line 283, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  input[type="checkbox"] + label, input[type="radio"] + label {
    text-decoration: none;
    color: #444;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: normal;
    padding-left: 2.4em;
    padding-right: 0.75em;
    position: relative; }
    /* line 24, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/mixins */
    input[type="checkbox"] + label:before, input[type="radio"] + label:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important; }
    /* line 294, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
    input[type="checkbox"] + label:before, input[type="radio"] + label:before {
      background: rgba(144, 144, 144, 0.075);
      border-radius: 4px;
      border: solid 1px rgba(144, 144, 144, 0.25);
      content: '';
      display: inline-block;
      height: 1.65em;
      left: 0;
      line-height: 1.58125em;
      position: absolute;
      text-align: center;
      top: 0;
      width: 1.65em; }
  /* line 311, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  input[type="checkbox"]:checked + label:before, input[type="radio"]:checked + label:before {
    background: #666666;
    border-color: #666666;
    color: #ffffff;
    content: '\f00c'; }
  /* line 320, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  input[type="checkbox"]:focus + label:before, input[type="radio"]:focus + label:before {
    border-color: #1589CE;
    box-shadow: 0 0 0 1px #1589CE; }

/* line 329, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
input[type="checkbox"] + label:before {
  border-radius: 4px; }

/* line 337, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
input[type="radio"] + label:before {
  border-radius: 100%; }

/* line 343, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
::-webkit-input-placeholder {
  color: #bbb !important;
  opacity: 1; }

/* line 348, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
:-moz-placeholder {
  color: #bbb !important;
  opacity: 1; }

/* line 353, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
::-moz-placeholder {
  color: #bbb !important;
  opacity: 1; }

/* line 358, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
:-ms-input-placeholder {
  color: #bbb !important;
  opacity: 1; }

/* line 363, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
.formerize-placeholder {
  color: #bbb !important;
  opacity: 1; }

/* Box */
/* line 370, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
.box {
  border-radius: 4px;
  border: solid 1px rgba(144, 144, 144, 0.25);
  margin-bottom: 2em;
  padding: 1.5em; }
  /* line 378, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  .box > :last-child, .box > :last-child > :last-child, .box > :last-child > :last-child > :last-child {
    margin-bottom: 0; }
  /* line 382, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  .box.alt {
    border: 0;
    border-radius: 0;
    padding: 0; }

/* Icon */
/* line 391, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative; }
  /* line 24, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/mixins */
  .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important; }
  /* line 396, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  .icon > .label {
    display: none; }

/* Image */
/* line 403, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
.image {
  border-radius: 4px;
  border: 0;
  display: inline-block;
  position: relative; }
  /* line 409, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  .image img {
    border-radius: 4px;
    display: block; }
  /* line 414, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  .image.left {
    float: left;
    padding: 0 1.5em 1em 0;
    top: 0.25em; }
  /* line 420, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  .image.right {
    float: right;
    padding: 0 0 1em 1.5em;
    top: 0.25em; }
  /* line 427, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  .image.left, .image.right {
    max-width: 40%; }
    /* line 430, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
    .image.left img, .image.right img {
      width: 100%; }
  /* line 435, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  .image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%; }
    /* line 440, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
    .image.fit img {
      width: 100%; }

/* List */
/* line 448, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
ol {
  list-style: decimal;
  margin: 0 0 2em 0;
  padding-left: 1.25em; }
  /* line 453, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  ol li {
    padding-left: 0.25em; }

/* line 458, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em; }
  /* line 463, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  ul li {
    padding-left: 0.5em; }
  /* line 467, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  ul.alt {
    list-style: none;
    padding-left: 0; }
    /* line 471, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
    ul.alt li {
      border-top: solid 1px rgba(144, 144, 144, 0.25);
      padding: 0.5em 0; }
      /* line 475, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
      ul.alt li:first-child {
        border-top: 0;
        padding-top: 0; }
  /* line 482, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0; }
    /* line 487, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
    ul.icons li {
      display: inline-block;
      padding: 0 1em 0 0; }
      /* line 491, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
      ul.icons li:last-child {
        padding-right: 0; }
      /* line 496, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
      ul.icons li .icon:before {
        font-size: 1.25em;
        color: inherit; }
  /* line 504, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0; }
    /* line 509, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
    ul.actions li {
      display: inline-block;
      padding: 0 1em 0 0;
      vertical-align: middle; }
      /* line 514, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
      ul.actions li:last-child {
        padding-right: 0; }
    /* line 520, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
    ul.actions.small li {
      padding: 0 0.5em 0 0; }
    /* line 526, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
    ul.actions.vertical li {
      display: block;
      padding: 1em 0 0 0; }
      /* line 530, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
      ul.actions.vertical li:first-child {
        padding-top: 0; }
      /* line 534, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
      ul.actions.vertical li > * {
        margin-bottom: 0; }
    /* line 540, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
    ul.actions.vertical.small li {
      padding: 0.5em 0 0 0; }
      /* line 543, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
      ul.actions.vertical.small li:first-child {
        padding-top: 0; }
    /* line 550, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
    ul.actions.fit {
      display: table;
      margin-left: -1em;
      padding: 0;
      table-layout: fixed;
      width: calc(100% + 1em); }
      /* line 557, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
      ul.actions.fit li {
        display: table-cell;
        padding: 0 0 0 1em; }
        /* line 561, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
        ul.actions.fit li > * {
          margin-bottom: 0; }
      /* line 566, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
      ul.actions.fit.small {
        margin-left: -0.5em;
        width: calc(100% + 0.5em); }
        /* line 570, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
        ul.actions.fit.small li {
          padding: 0 0 0 0.5em; }

/* line 578, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
dl {
  margin: 0 0 2em 0; }

/* Table */
/* line 584, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto; }

/* line 589, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
table {
  margin: 0 0 2em 0;
  width: 100%; }
  /* line 594, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  table tbody tr {
    border: solid 1px rgba(144, 144, 144, 0.25);
    border-left: 0;
    border-right: 0; }
    /* line 599, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
    table tbody tr:nth-child(2n+1) {
      background-color: rgba(144, 144, 144, 0.075); }
  /* line 605, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  table td {
    padding: 0.75em 0.75em; }
  /* line 609, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  table th {
    color: #666;
    font-size: 0.9em;
    font-weight: bold;
    padding: 0 0.75em 0.75em 0.75em;
    text-align: left; }
  /* line 617, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  table thead {
    border-bottom: solid 2px rgba(144, 144, 144, 0.25); }
  /* line 621, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  table tfoot {
    border-top: solid 2px rgba(144, 144, 144, 0.25); }
  /* line 625, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  table.alt {
    border-collapse: separate; }
    /* line 630, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
    table.alt tbody tr td {
      border: solid 1px rgba(144, 144, 144, 0.25);
      border-left-width: 0;
      border-top-width: 0; }
      /* line 635, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
      table.alt tbody tr td:first-child {
        border-left-width: 1px; }
    /* line 641, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
    table.alt tbody tr:first-child td {
      border-top-width: 1px; }
    /* line 648, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
    table.alt thead {
      border-bottom: 0; }
    /* line 652, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
    table.alt tfoot {
      border-top: 0; }

/* Button */
/* line 663, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
input[type="submit"], input[type="reset"], input[type="button"], .button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #666666;
  border-radius: 4px;
  border: 0;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  height: 2.85em;
  line-height: 2.95em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap; }
  /* line 680, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .button:hover {
    background-color: #737373; }
  /* line 684, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active, .button:active {
    background-color: #595959; }
  /* line 688, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  input[type="submit"].icon, input[type="reset"].icon, input[type="button"].icon, .button.icon {
    padding-left: 1.35em; }
    /* line 691, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
    input[type="submit"].icon:before, input[type="reset"].icon:before, input[type="button"].icon:before, .button.icon:before {
      margin-right: 0.5em; }
  /* line 696, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  input[type="submit"].fit, input[type="reset"].fit, input[type="button"].fit, .button.fit {
    display: block;
    margin: 0 0 1em 0;
    width: 100%; }
  /* line 702, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  input[type="submit"].small, input[type="reset"].small, input[type="button"].small, .button.small {
    font-size: 0.8em; }
  /* line 706, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  input[type="submit"].big, input[type="reset"].big, input[type="button"].big, .button.big {
    font-size: 1.35em; }
  /* line 710, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  input[type="submit"].alt, input[type="reset"].alt, input[type="button"].alt, .button.alt {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
    color: #666 !important; }
    /* line 715, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
    input[type="submit"].alt:hover, input[type="reset"].alt:hover, input[type="button"].alt:hover, .button.alt:hover {
      background-color: rgba(144, 144, 144, 0.075); }
    /* line 719, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
    input[type="submit"].alt:active, input[type="reset"].alt:active, input[type="button"].alt:active, .button.alt:active {
      background-color: rgba(144, 144, 144, 0.2); }
    /* line 724, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
    input[type="submit"].alt.icon:before, input[type="reset"].alt.icon:before, input[type="button"].alt.icon:before, .button.alt.icon:before {
      color: #bbb; }
  /* line 730, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  input[type="submit"].special, input[type="reset"].special, input[type="button"].special, .button.special {
    background-color: #1589CE;
    color: #ffffff !important; }
    /* line 734, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
    input[type="submit"].special:hover, input[type="reset"].special:hover, input[type="button"].special:hover, .button.special:hover {
      background-color: #9fdfda; }
    /* line 738, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
    input[type="submit"].special:active, input[type="reset"].special:active, input[type="button"].special:active, .button.special:active {
      background-color: #79d3cc; }
  /* line 744, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  input[type="submit"].disabled, input[type="submit"]:disabled, input[type="reset"].disabled, input[type="reset"]:disabled, input[type="button"].disabled, input[type="button"]:disabled, .button.disabled, .button:disabled {
    background-color: #444 !important;
    box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
    color: #fff !important;
    cursor: default;
    opacity: 0.25; }

/* Header */
/* line 755, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
#header {
  color: #444;
  cursor: default;
  width: 100%;
  height: 3em;
  line-height: 3em;
  margin: 2em 0;
  z-index: 10000;
  text-align: center;
  position: relative; }
  /* line 766, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  #header h1 {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    color: #444;
    font-family: 'Megrim', Arial, Helvetica, sans-serif;
    position: absolute;
    height: inherit;
    line-height: inherit;
    left: 0;
    font-size: 1em;
    top: 0;
    margin-bottom: 0.75em;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 10px; }
    /* line 781, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
    #header h1:hover {
      color: #1589CE; }
    /* line 785, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
    #header h1 a {
      font-size: 2.25em; }
  /* line 790, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  #header #logo {
    position: absolute;
    height: inherit;
    vertical-align: middle;
    left: 0;
    top: 0; }
    /* line 797, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
    #header #logo a {
      height: inherit; }
    /* line 801, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
    #header #logo img {
      height: 50px;
      width: auto; }
  /* line 807, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  #header nav {
    height: inherit;
    line-height: inherit;
    vertical-align: middle;
    position: absolute;
    right: 0;
    top: 0; }
    /* line 815, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
    #header nav > ul {
      list-style: none;
      margin: 0;
      padding-left: 0; }
      /* line 820, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
      #header nav > ul > li {
        border-radius: 4px;
        display: inline-block;
        margin-left: 1.5em;
        padding-left: 0; }
        /* line 826, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
        #header nav > ul > li a {
          -moz-transition: color 0.2s ease-in-out;
          -webkit-transition: color 0.2s ease-in-out;
          -o-transition: color 0.2s ease-in-out;
          -ms-transition: color 0.2s ease-in-out;
          transition: color 0.2s ease-in-out;
          color: #444;
          display: inline-block;
          text-decoration: none;
          font-weight: 300; }
          /* line 833, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
          #header nav > ul > li a:hover {
            color: #1589CE; }
        /* line 838, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
        #header nav > ul > li:first-child {
          margin-left: 0; }
        /* line 842, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
        #header nav > ul > li .button {
          height: 2.25em;
          line-height: 2.25em;
          margin-bottom: 0;
          padding: 0 1em;
          position: relative;
          top: -0.075em;
          vertical-align: middle; }
  /* line 855, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  #header .container {
    position: relative; }
    /* line 858, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
    #header .container h1 {
      left: 0; }
    /* line 862, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
    #header .container nav {
      right: 0; }

/* line 868, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
#sub-header {
  min-height: 2.75em;
  line-height: 2.75em;
  border-top: solid 1px rgba(144, 144, 144, 0.25);
  border-bottom: solid 1px rgba(144, 144, 144, 0.25);
  text-align: center;
  color: #ccc; }
  /* line 876, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  #sub-header ul {
    margin: 0; }
  /* line 880, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  #sub-header a {
    color: inherit; }
  #sub-header a:visited {
    color: inherit; }
  #sub-header a:hover {
    color: #1589CE; }
/* Banner */
/* line 886, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
#feature {
  padding: 3em 0;
  text-align: center; }
  /* line 890, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  #feature :last-child {
    margin-bottom: 0; }
  /* line 895, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  #feature .post-header h2 {
    font-size: 4em;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    padding: 0; }

/* Main */
/* line 907, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
#main {
  padding: 4em 0 0 0; }

/* Footer */
/* line 913, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
#footer {
  background: #1589CE;
  padding: 2em 0;
  margin-top: 4em;
  color: #fff;
  text-align: center; }
  /* line 920, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  #footer .icon {
    font-size: 1.5em; }
  /* line 924, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  #footer a {
    color: inherit; }
  /* line 928, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  #footer .copyright {
    color: inherit;
    font-size: 0.9em;
    margin: 2em 0 0 0;
    padding: 0;
    text-align: center; }
    /* line 935, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
    #footer .copyright li {
      border-left: solid 1px rgba(144, 144, 144, 0.25);
      display: inline-block;
      list-style: none;
      margin-left: 1.5em;
      padding-left: 1.5em; }
      /* line 942, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
      #footer .copyright li:first-child {
        border-left: 0;
        margin-left: 0;
        padding-left: 0; }

/* Ghost Stuff */
/* line 954, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
.loop-excerpt {
  text-align: left; }
  /* line 957, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  .loop-excerpt .post-header, .loop-excerpt .post-image {
    margin-bottom: 0.5em; }
    /* line 959, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
    .loop-excerpt .post-header h1, .loop-excerpt .post-header h2, .loop-excerpt .post-header h3, .loop-excerpt .post-header h4, .loop-excerpt .post-header h5, .loop-excerpt .post-header h6, .loop-excerpt .post-image h1, .loop-excerpt .post-image h2, .loop-excerpt .post-image h3, .loop-excerpt .post-image h4, .loop-excerpt .post-image h5, .loop-excerpt .post-image h6 {
      font-weight: 300; }
  /* line 964, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  .loop-excerpt .post-content h1, .loop-excerpt .post-content h2, .loop-excerpt .post-content h3, .loop-excerpt .post-content h4, .loop-excerpt .post-content h5, .loop-excerpt .post-content h6 {
    font-size: 1em;
    margin: 0; }
  /* line 969, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  .loop-excerpt .post-content p {
    margin: 1.5em 0 !important; }

/* line 975, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
.post-featured {
  padding-bottom: 1em; }
  /* line 977, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  .post-featured:after {
    content: 'Featured Post';
    position: absolute;
    display: block;
    background-color: #1589CE;
    color: #fff;
    padding: 0.25em 0.5em;
    font-size: 0.5em;
    margin-top: 0.3em;
    line-height: 1.25em; }

/* line 990, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
.feature-image, .post-image {
  width: 100%;
  overflow: hidden;
  display: block; }
  /* line 995, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  .feature-image img, .post-image img {
    width: inherit; }

/* line 1000, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
.feature-image {
  height: 25em; }

/* line 1004, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
.post-image {
  height: 15em; }

/* line 1009, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
.post-content img {
  max-width: 100%; }

/* line 1016, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
.single .post-featured:after {
  margin-top: 0.65em;
  font-size: 0.5em; }

/* Page */
/* line 1025, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
.page-header {
  text-align: center; }
  /* line 1028, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
  .page-header h2 {
    font-size: 2.5em; }

/* line 1034, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
.post-header .feature-image {
  margin-bottom: 1.5em; }

/* Author */
/* line 1042, /Users/alex/Documents/ghost-v0.5.9/content/themes/aventurine/assets/sass/style.scss */
.author-image img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden; }


/*# sourceMappingURL=style.css.map */
