{{! Default Author Social Icons }}

<ul class="icons">
    <li><a href="http://facebook.com/SomethingNew71" class="icon fa-facebook"></a></li>
    <li><a href="http://twitter.com/SomethingNew71" class="icon fa-twitter"></a></li>
    <li><a href="https://instagram.com/somethingnew71/" class="fa fa-instagram"></a></li>
    <li><a href="http://plus.google.com/+ColeGentryClassicMiniDIY/posts" class="icon fa-google-plus"></a></li>
</ul>
