{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}


{{! Everything inside the #post tags pulls data from the post }}
{{#post}}


{{#if image}}
{{! Header transparent}}
{{> header}}
{{else}}
{{! Header untransparent}}
{{> header-nocover}}
{{/if}}


<div class="article-open container {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <div class="hover"></div>
    <article class="article-open_item wrap">
        <header class="post_head">
            <h1>{{{title}}}</h1>
            <span class="post_info"><span>by</span> {{author}} <span>on</span> {{date format="DD MMMM YYYY"}}</span>
        </header>
            {{#if tags}}
        <footer class="post_tag">
                {{#foreach tags}}
                <a class="tag" href="{{url}}">{{name}}</a>
                {{/foreach}}
        </footer>
            {{/if}}
    </article>
</div>

<main class="article-open_content container">
    <article class="wrap">
        <section class="article_text post">
            {{content}}
        </section>
        <footer class="post">
            <section class="article-open_shere">
                <a class="article-open_shere-twitter i-twitter-button" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">Tweet</a>
                <a class="article-open_shere-facebook i-facebook-button" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">Share</a>
                
                <a class="article-open_shere-google i-google-button" href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">Share</a>

                <a class="article-open_shere-vk i-vk-button" href="http://vkontakte.ru/share.php?url={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">Share</a>
                <a class="article-open_shere-feed i-feed-button" href="{{@blog.url}}/rss/">Subscribe</a>
            </section>
            {{#author}}
            <section class="article-open_author">
                {{#if image}}
                <figure class="article-open_author_image">
                <div class="img" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></div>
                </figure>
                {{/if}}
                <div class="article-open_author_bio">
                    {{#if name}}<h5 itemprop="author" itemscope itemtype="http://schema.org/Person">{{name}}</h5>{{/if}}
                    {{#if bio}}<p>{{bio}}</p>{{/if}}
                    {{#if location}}<span class="article-open_author_meta i-map">{{location}}</span>{{/if}}
                    {{#if website}}<span class="article-open_author_meta i-link"><a href="http://dmitrybusyrev.com">{{website}}</a></span>{{/if}}
                </div>
            </section>
            {{/author}}
                {{#if tags}}
            <section class="article-open_tag">
                <h6>Tags:</h6>
                {{#foreach tags}}
                <a class="tag" href="{{url}}">{{name}}</a>
                {{/foreach}}
            </section>
                {{/if}}

            <div id="disqus_thread"><form onsubmit="my.loadDisqus();return false;" class=formBlock><input class="button-load" type=submit value="Leave Comments"></form></div>
            <script type="text/javascript">
                var disqus_shortname = 'foresttheme';
                var disqus_identifier = 'ghost-{{id}}';
                var my = my || {};
                my.loadDisqus = function() {               
                    var dsq = document.createElement('script');
                    dsq.type = 'text/javascript';
                    dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                };
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

        </footer>
        </div>
    </article>
</main>
<aside class="article_readNext">
    {{#next_post}}
    <a class="article_readNext_story col-2 {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h4>{{title}}</h4>
        </section>
    </a>
    {{else}}
    <a class="article_readNext_story col-2 no-cover">
        <section class="no-post">
            <h4>No more next posts!</h4>
        </section>
    </a>
    {{/next_post}}
    {{#prev_post}}
    <a class="article_readNext_story prev col-2 {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h4>{{title}}</h4>
        </section>
    </a>
    {{else}}
    <a class="article_readNext_story prev col-2 no-cover">
        <section class="no-post">
            <h4>No more prev posts!</h4>
        </section>
    </a>
    {{/prev_post}}
</aside>
{{/post}}
