{{! Dark social icons }}
<ul>
    <li class="socialIcons_link">
        <a class="i-twitter-b" href="http://twitter.com/SomethingNew71"></a>
    </li>
    <li class="socialIcons_link">
        <a class="i-facebook-b" href="http://facebook.com/SomethingNew71"></a>
    </li>
    <li class="socialIcons_link">
        <a class="i-google-b" href="http://plus.google.com/+ColeGentryClassicMiniDIY/posts"></a>
    </li>
    <!-- <li class="socialIcons_link">
        <a class="i-vk-b" href=""></a>
    </li> -->
    <li class="socialIcons_link">
        <a class="i-instagram-b" href="https://instagram.com/somethingnew71/"></a>
    </li>
    <!-- <li class="socialIcons_link">
        <a class="i-pinterest-b" href=""></a>
    </li> -->
    <!-- <li class="socialIcons_link">
        <a class="i-feed-b" href="{{@blog.url}}/rss/"></a>
    </li> -->
</ul>
