{{! White social icons }}
<ul>
    <li class="socialIcons_link">
        <a class="i-twitter" href="http://twitter.com/SomethingNew71"></a>
    </li>
    <li class="socialIcons_link">
        <a class="i-facebook" href="http://facebook.com/SomethingNew71"></a>
    </li>
    <li class="socialIcons_link">
        <a class="i-google" href="http://plus.google.com/+ColeGentryClassicMiniDIY/posts"></a>
    </li>
    <!-- <li class="socialIcons_link">
        <a class="i-vk" href=""></a>
    </li> -->
    <li class="socialIcons_link">
        <a class="i-instagram" href="https://instagram.com/somethingnew71/"></a>
    </li>
    <!-- <li class="socialIcons_link">
        <a class="i-pinterest" href=""></a>
    </li> -->
    <!-- <li class="socialIcons_link">
        <a class="i-feed" href=""></a>
    </li> -->
</ul>
