/* ========TABLE OF CONTENTS==========
00. BODY, LINKS, SECTION TITLES, GENERAL
01. HEADERBAR, NAVIGATION
02. EVERY SECTION TITLES
03. SECTION ABOUT
04. SECTION SERVICES
05. SECTION CONTACT
    o GENERAL FORM STYLES
    o MESSAGE FOR SUCCES
06. MEDIA QUERIES FOR RESPONSIVE DESIGN
07. RESUME
08. ISOTOPE THUMBNAILS


MAIN COLOR: #25CBF5;

/* ========00. BODY, LINKS, SECTION TITLES, GENERAL========== */
html, body {
     width: 100%;
     height: 100%;
}
body {
  	font-family: 'Open Sans', sans-serif;
  	/*font-family: 'Montserrat', sans-serif;*/
  	font-size: 14px;
  	color: #222222;
  	-webkit-font-smoothing: antialiased;
  	background: #ffffff;
  	position: relative;
}
a {
  	color: #222222;
  	-webkit-transition: 0.2s;
  	-moz-transition: 0.2s;
  	transition: 0.2s;
}
a:hover {
  	color: #428BCA;
  	text-decoration:none;
}


/*PAGE LOADER*/

#loader {
    background: #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}
#loaderInner {
    background:#ffffff url(../images/load.gif) center center no-repeat;
    height: 60px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 60px;
}


/* ========01. HEADERBAR, NAVIGATION========== */
#headerBar {
	z-index: 999;
  	width: 100%;
  	height: auto;
  	min-height: 80px;
  	-webkit-transition: 0.2s cubic-bezier(.58,.83,.57,.84);
  	-moz-transition: 0.2s cubic-bezier(.58,.83,.57,.84);
  	transition: 0.2s cubic-bezier(.58,.83,.57,.84);
  	position: fixed;
  	top: 0px;
  	background: #fff;
	-webkit-box-shadow: 0px 7px 16px 0px rgba(50, 50, 50, 0.1);
		-moz-box-shadow:    0px 7px 16px 0px rgba(50, 50, 50, 0.1);
	box-shadow:         0px 7px 16px 0px rgba(50, 50, 50, 0.1);
}
#headerBar .container {
	padding: 0;
}
.headerLeft {
	text-align: left;
	margin-top: 10px;
	padding-left: 10px;
}
.headerRight {
	text-align: left;
	padding: 0;
}
.navbar-collapse {padding-left: 0px;}
.navbar {margin-bottom: 0;-webkit-padding-start: 0px;}
.navbar li{display: inline-block;margin: 0 10px;}
.navbar li a{
  	font-weight: 400;
  	font-size: 13px;
  	line-height: 80px;
  	letter-spacing: 3px;
  	text-decoration: none;
  	z-index: 999;
  	padding: 10px 0;
  	-webkit-transition: 0.3s;
  	-moz-transition: 0.3s;
  	transition: 0.3s;
  	text-transform: uppercase;
}
.navbar li.active a {
	border-bottom: 1px solid #428BCA;
	border-top: 1px solid #428BCA;
	color: #428BCA;
}
.navbar-toggle {
	font-size: 30px;
	cursor: pointer;
}

/* ========02. EVERY SECTION TITLES========== */
.sectionTitle {
	text-align: center;
	padding-top: 75px;
	/*padding-bottom: 25px;*/
}
.sectionTitle h1 {
  	letter-spacing: 1px;
  	font-size: 24px;
  	font-weight: 600;
  	text-transform: uppercase;
}
.sectionTitle h4 {
  	letter-spacing: 1px;
  	font-size: 12px;
  	font-weight: 400;
  	text-transform: uppercase;
  	padding-bottom: 5px;
}
.sectionTitle p {
  	font-size: 18px;
  	font-weight: 300;
  	line-height: 25px;
  	color: #787878;
  	/*font-family: 'Open Sans', serif;*/
  	font-family: 'Alegreya', serif;
  	font-style: italic;
}
.sectionTitle .separatorlineblack {
  	margin-bottom: 30px;
}
.sectionTitle .separatorlineblack.nomargin {
	margin-bottom: 0px;
}
.separatorlineblack {
  	width: 100%;
  	height: 1px;
  	margin: 0 auto;
  	background: #000;
  	opacity: 0.1;
}
.logo{
	font-size: 40px;
	color: #444;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
}
.logo span{
	color: #428BCA;
}
/* ========03. SECTION ABOUT========== */

#sectionAbout {
	text-align: center;
  /*background-image: url(/images/0022.jpg);*/
 	background-image: url("../images/bg.jpg");
 	background-size: cover;
 	background-repeat: no-repeat;
	height: auto;
	width: 100%;
	-webkit-box-shadow: inset 0px -9px 33px -5px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px -9px 33px -5px rgba(0,0,0,0.2);
	box-shadow: inset 0px -9px 33px -5px rgba(0,0,0,0.2);
}
.aboutContainer {
	padding: 0;
}


/* ====ABOUT RIGHT SIDE==== */

.aboutRight {
	background-color: #ededed;
	padding: 0;
	min-height: 550px;
	-webkit-box-shadow: inset 0px -9px 33px -5px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px -9px 33px -5px rgba(0,0,0,0.1);
	box-shadow: inset 0px -9px 33px -5px rgba(0,0,0,0.1);
}
.aboutRight h2 {
	font-size: 13px;
	text-transform: uppercase;
}
/* ====ABOUT RIGHT CONTENT TOP==== */
.aboutRightContentTop {
	background: #ffffff;
	padding-top: 20%;
	padding-right:10%;
	padding-left: 10%;
	padding-bottom: 25px;
	text-align: left;
}
.aboutTitle h1{
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 5px;
	font-weight: 900;
}
.aboutTitle h2 {
	margin-top: 0;
	color: #777!important;
	text-transform: lowercase!important;
}
.aboutIntro {
	margin-top: 30px;
}
.aboutIntro p{
	font-size: 17px;
  	font-weight: 300;
  	color: #787878;
  	/*font-family: 'Open Sans', serif;*/
  	font-family: 'Alegreya', serif;
  	font-style: italic;
}

/* ====ABOUT RIGHT CONTENT BOTTOM==== */
.aboutRightContentBottom {
	padding-right:10%;
	padding-left: 10%;
  margin: auto;
	text-align: center;
  font-size: 2.2em;
	padding-top: 25px;
	padding-bottom: 30px;
}
.aboutRightContentBottom a{
	padding: 10px;
}
.aboutRightContentBottom h4 {
	margin: 5px 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 20px;
}
h4.lastChildRCB {
	margin-bottom: 40px;
}
.scroll-down {
	border: 2px solid #222222;
	color: #222222;
	background: transparent;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
}



/* ========04. SECTION RESUME========== */

#sectionResume {
	background: #ffffff;
  padding-bottom: 40px;
}
#sectionResume h2 {
	font-size: 17px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	margin-bottom: 30px;
}
.resumeStats {
  	margin-top: 25px;
  	text-align: center;
}
.resumeStats span {
	font-size: 30px;
}
.resumeStats .col-md-2 {
	transition: background-color .4s;
  	padding: 50px;
  	border-left: 1px solid #eee;
  	border-top: 1px solid #eee;
}
.resumeStats .col-md-2:hover {
	color: #428BCA;
}
.statsIconPerc {
  	font-size: 50px;
  	font-weight: 500;
  	letter-spacing: 1px;
}
.statsName {
  	text-transform: uppercase;
  	font-size: 14px;
  	font-weight: 600;
  	letter-spacing: 1px;
}


/* ========05. SECTION SERVICES========== */

#sectionServices {
  	background: #eee;
  	padding-bottom: 50px;
}

.servicesCol4 {
  	padding-top:30px;
  	padding-bottom:30px;
  	overflow: hidden;
  	min-height: 215px;
}
.servicesCol4 h3 {
  	font-size: 15px;
  	margin-top: 0px;
  	padding-top: 0;
  	text-transform: uppercase;
  	font-weight: 600;
  	text-align: left;
}
.servicesCol4 p{
  	font-size: 16px;
  	font-weight: 200;
  	font-family: 'Alegreya', serif;
  	/*font-family: 'Open Sans', serif;*/
  	text-align: left;
  	font-style: italic;
  	color: #666;
  	padding-top: 10px;
}
.servicesCol4 span {
  	font-size: 40px;
  	text-align: center;
  	color: #428BCA;
}
.servicesLeft {
  	float: left;
}
.servicesRight {
  	padding-left: 23%;
  	padding-right: 2%;
}


/* ========06. SECTION PORTOFOLIO (WORKS)========== */
#sectionWorks {
	padding-bottom: 100px;
}

/* ========07. SECTION CONTACT========== */


#sectionContact {
	background: #eee;
}
.contactForm {
	max-width: 600px;
	margin: 50px auto;
}
.contactForm div {
	margin-top: 15px;
}
.contactFooter {
	background-color: #111;
	padding: 10px 0 30px 0;

	color: #fff;
}
.footerLeft {
	font-size: 13px;
	font-weight: 400;
	color: #777;
	padding-top: 15px;
}

/* ====GENERAL FORM STYLES==== */

input, textarea, select {
    color: #222;
	background: transparent;
	vertical-align: top;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	margin: 0;
	padding: 15px;
	width: 100%;
	height: 100%;
	border: 0;
	border: 1px solid #ccc;
    font-size: 13px;
    font-weight: 600;
}
input:focus, textarea:focus, select:focus {
	outline: none;
	position: relative;
	z-index: 5;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	border: 1px solid #222;
}
input.error, textarea.error, select.error {
	border: 1px solid #25CBF5;
}
input.submit {
	width: auto;
	cursor: pointer;
	position: relative;
    background: transparent;
    border: 2px solid #222;
    color: #222;
    padding: 16px;
    margin: 20px 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
  	font-weight: 600;
}
input.submit:hover {
  	color: #ffffff;
    background: #222;
}

/* ====MESSAGE FOR SUCCES==== */

#message {
	margin: 1em 0;
	padding: 0;
	display: block;
	background: transparent none;
}
#message h1 {
  	letter-spacing: 1px;
 	font-size: 20px;
  	font-weight: 400;
	text-transform: uppercase;
}

#message p {
  	font-size: 16px;
  	font-weight: 200;
  	font-family: 'Open Sans', serif;
  	text-align: left;
  	font-style: italic;
}

/* ========08. MEDIA QUERIES FOR RESPONSIVE DESIGN========== */
@media screen and (max-width: 768px) {

.intro-heading h1 {
  	font-size:45px;
  	line-height: 45px;
}
.navbar li {
	display: block;
}
.navbar li a {
	line-height: 40px;
}

}

@media screen and (max-width: 480px) {

.resumeStats .col-md-2 {
  	padding: 20px;
}


}
/* ========09. RESUME ========== */


#sectionResume h2{
    margin-top: 30px;
    text-align: center;
}
#sectionResume hr{
    border-top: 1px solid #25CBF5;
    opacity: 0.2;
}
.resumeblock{
    padding-right: 30px;
    padding-left: 15px;
    border-left: 1px solid #25CBF5;
    font-family: 'Open Sans', sans-serif;
}
.resumeblock h3{
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 15px;
}
.resumeblock h3 span{
    float: right;
    color: #428BCA;
}
.resumeblock h4{
    color: #787878;
    font-size: 14px;
    font-weight: 100;
    margin-top: 5px;
    margin-bottom: 5px;
}
.resumeblock p{
    font-family: "Alegreya";
    font-style: italic;
    font-size: 17px;
    color: #787878;
    font-weight: 100;
}

h3.skill{
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 15px;
}
.skill .open{
    color: #787878;
}
.skill .closed{
    color: #428BCA;
}
.skill span{
    float: right;
    margin-right: 10px;
}


/* ========10. ISOTOPE THUMBNAILS ========== */

.da-thumbs {
    list-style: none;
    height: 600px;
    position: relative;
}
.da-thumbs li{
    float: left;
    background: #fff;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.da-thumbs li h2{
    margin-bottom: 20px;
    font-size: 26px;
}
.da-thumbs li a{
    overflow: hidden;
}
.da-thumbs li a, a img{
    display: block;
    position: relative;
}
.da-thumbs li a div{
    position: absolute;
    background: #333;
    background: rgba(75,75,75,0.7);
    width: 100%;
    height: 100%;
}
.da-thumbs li a div span{
    display: block;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: normal;
    color: rgba(255,255,255,0.9);
}

#isotope-container .item{
    width: 25%;
    max-height: 440px;
    padding: 0;
}
#isotope-container .item img{
    width: 100%;
    max-height: 100%;
}

.isotope-slider .filters{
    display: table;
    margin: 0 auto;
    padding: 20px;
}
.isotope-slider .filters button{
    transition: 0.2s;
    margin: 10px;
}
.isotope-slider .filters button:hover{
    color: #25CBF5;
}
