// Duration.
	$duration-transition:		0.2s;

// Size.
	$size-border-radius:		4px;
	$size-border-width:			1px;
	$size-element-height:		2.75em;
	$size-element-margin:		2em;

// Font.
	$font-family:				'Merriweather Sans', Arial, Helvetica, sans-serif;
    $font-family-display:       'Megrim', Arial, Helvetica, sans-serif;
	$font-family-fixed:			'Courier New', monospace;
	$font-weight:				normal;
	$font-weight-bold:			bold;

// Color.
	$color-bg:					#fff;
	$color-fg:					#444;
	$color-fg-bold:				#666;
	$color-fg-light:			#bbb;
	$color-border:				rgba(144,144,144,0.25);
	$color-border-bg:			rgba(144,144,144,0.075);
	$color-border2:				rgba(144,144,144,0.5);
	$color-border2-bg:			rgba(144,144,144,0.2);

	$color-accent-bg:			#1589CE;
	$color-accent-fg:			mix($color-accent-bg, #ffffff, 25%);
	$color-accent-fg-bold:		#ffffff;
	$color-accent-fg-light:		mix($color-accent-bg, #ffffff, 40%);
	$color-accent-border:		rgba(255,255,255,0.25);
	$color-accent-border-bg:	rgba(255,255,255,0.075);
	$color-accent-border2:		rgba(255,255,255,0.5);
	$color-accent-border2-bg:	rgba(255,255,255,0.2);

	$color-accent2-bg:			#666666;
	$color-accent2-fg:			mix($color-accent2-bg, #ffffff, 25%);
	$color-accent2-fg-bold:		#ffffff;
	$color-accent2-fg-light:	mix($color-accent2-bg, #ffffff, 40%);
	$color-accent2-border:		rgba(255,255,255,0.25);
	$color-accent2-border-bg:	rgba(255,255,255,0.075);
	$color-accent2-border2:		rgba(255,255,255,0.5);
	$color-accent2-border2-bg:	rgba(255,255,255,0.2);
