@import 'vars';
@import 'mixins';

/* Basic */

	body, input, select, textarea {
		font-size: 11pt;
	}

/* Header */

	//body {
	#skel-layers-wrapper {
		padding-top: 0;
	}

	#header {
        margin:6em 0 3em 0;
        h1{
            position:relative;
            font-size:1.25em;
        }

        #logo{
            position:relative;
            height:inherit;

            img{
                height:70px;
                width:auto;
            }
        }
	}

/* Layers */

	#navButton {
		.toggle {
			@include icon('\f0c9');
			height: 100%;
			position: absolute;
			width: 100%;

			&:before {
				background: $color-accent-bg;
				color: #fff;
				display: block;
				font-size: 16px;
				height: 1.75em;
				left: 0;
                margin-left:-1.75em;
				line-height: 1.75em;
				position: absolute;
				text-align: center;
				top: 0;
				width: 3.5em;
			}
		}
	}

	#navPanel {
		background: #1589CE;
		color: #fff;

		nav {
			padding: 0.5em 1.25em;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					padding: 0;

					&:first-child {
						a:not(.button), span:not(.button) {
							border-top: 0;
						}
					}

					a:not(.button), span:not(.button) {
						border-top: solid $size-border-width rgba(255,255,255,0.75);
						color: #fff;
						display: block;
						padding: 0.75em 0;
						text-decoration: none;
					}
				}
			}

			.button {
				width: 100%;
			}
		}
	}
